[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
aiohttp = "*"
gunicorn = "*"
mysql-connector-python = "*"
flask-mysql = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
